{% for key, value in details.items() %}

    server {
        listen       {{ value[0] }};
	server_name  {{ value[1] }};
        root         /usr/share/nginx/html/{{ key }};
        index          index.html;
         location / {
           try_files $uri $uri/ =404;
         }
    }


{% endfor %}

